*.aux
*.lof
*.log
*.out
*.synctex.gz
*.toc
*.pdf
Firmware/.settings/
*.o
Firmware/.metadata/
Firmware/Debug/
.metadata/
Firmware/.vscode/
Firmware/STM32L073RZ_FLASH.ld
Firmware/.code_review_properties
